@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="display:none">
    <section id="uritused-loader">
        <div class="spinner-border text-warning" style="margin:3rem" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </section>
</div>