@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Ürituse Lisamine Modal -->

<div class="modal fade" id="uritus-edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uritus-edit-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="uritus-edit-modal-title">Ürituse Muutmine</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <partial name="_MuudaUritus.cshtml" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Katkesta</button>
                <button type="button" class="btn btn-warning" onclick="MuudaUritus()">
                    <span class="spinner-border spinner-border-sm d-none" id="uritus-edit-modal-spinner" role="status" aria-hidden="true"></span>
                    Muuda Üritus
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Eraisikute Lisamine Modal -->

<div class="modal fade" id="eraisik-add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="eraisik-add-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eraisik-add-modal-title">Eraisikute Lisamine</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <partial name="_UusEraisik.cshtml" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Katkesta</button>
                <button type="button" class="btn btn-success" onclick="LisaEraisik()">
                    <span class="spinner-border spinner-border-sm d-none" id="eraisik-add-modal-spinner" role="status" aria-hidden="true"></span>
                    Lisa Eraisik
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Ettevõte Lisamine Modal -->

<div class="modal fade" id="ettevote-add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ettevote-add-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ettevote-add-modal-title">Ettevõte Lisamine</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <partial name="_UusEttevote.cshtml" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Katkesta</button>
                <button type="button" class="btn btn-success" onclick="LisaEttevote()">
                    <span class="spinner-border spinner-border-sm d-none" id="ettevote-add-modal-spinner" role="status" aria-hidden="true"></span>
                    Lisa Ettevõte
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Eraisikute Eemaldamine Modal -->

<div class="modal fade" id="eraisik-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="eraisik-delete-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eraisik-delete-modal-title">Eraisikute Eemaldamine</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Kas oled kindel, et soovid &nbsp;<span id="eraisik-nimi-delete-modal" style="font-size:1.2rem"></span>&nbsp; eemalda?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Katkesta</button>
                <button type="button" class="btn btn-danger" id="eraisik-delete-modal-delete-btn">Olen Kindel</button>
            </div>
        </div>
    </div>
</div>

<!-- Ettevõte Eemaldamine Modal -->

<div class="modal fade" id="ettevote-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ettevote-delete-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ettevote-delete-modal-title">Ettevõte Eemaldamine</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Kas oled kindel, et soovid ettevõte &nbsp;<span id="ettevote-nimi-delete-modal" style="font-size:1.2rem"></span>&nbsp; eemalda?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Katkesta</button>
                <button type="button" class="btn btn-danger" id="ettevote-delete-modal-delete-btn">Olen Kindel</button>
            </div>
        </div>
    </div>
</div>