@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (ViewBag.Ettevoted == null || !Enumerable.Any(ViewBag.Ettevoted))
{
    <div style="padding:3rem 5rem">Ei ole veel ühtegi...</div>
}
else
{
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Juriidiline Nimi</th>
                <th scope="col">Registrikood</th>
                <th scope="col">Osavõtjate Arv</th>
            </tr>
        </thead>

        @{
            var i = 1;

            foreach (var item in ViewBag.Ettevoted)
            {
                <tr>
                    <td class="col-1">@i</td>
                    <td class="col-2">@item.EttevoteNimi</td>
                    <td class="col-2">@item.Registrikood</td>
                    <td class="col-2">@item.OsavotjateArv</td>
                </tr>

                i++;
            }
        }

    </table>
}