@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<form id="uus-uritus">

    <div class="mb-3">
        <label for="uritus-nimetus" class="form-label">Nimetus:</label>
        <input type="text" class="form-control" id="uritus-nimetus" name="Nimi" value="" minlength="3" maxlength="50" required />
        <div class="invalid-feedback">
            Peaks olema Nimetus!
        </div>
    </div>

    <div class="mb-3">
        <label for="uritus-toimumisaeg" class="form-label">Toimumisaeg:</label>
        <input type="text" class="form-control" id="uritus-toimumisaeg" name="Toimumisaeg" value="" maxlength="16" required />
        <div class="invalid-feedback">
            Peaks olema Toimumisaeg!
        </div>
    </div>

    <div class="mb-3">
        <label for="uritus-toimumisekoht" class="form-label">Toimumise Koht:</label>
        <input type="text" class="form-control" id="uritus-toimumisekoht" name="ToimumiseKoht" value="" minlength="3" maxlength="100" required />
        <div class="invalid-feedback">
            Peaks olema Toimumise Koht!
        </div>
    </div>

    <div class="mb-3">
        <label for="uritus-lisainfo" class="form-label">Lisainfo:</label>
        <textarea class="form-control" id="uritus-lisainfo" rows="5" name="Lisainfo" maxlength="1000"></textarea>
    </div>

</form>