@{
    ViewData["Title"] = "Koduleht";
}

<div class="text-center">

    <div class="container tutvustus">
        <!-- Tutvustus -->
        Tere tulemast Registreerimissüsteemile! Siin te võite vaadata üle kõik planeeritud ja juba möödunud üritused. Soovi korral te võite ka lisada uusi üritusi.
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button my-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    Planeeritud Üritused
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne">
                <div id="planeeritud-uritused" class="accordion-body">

                    @if (ViewBag.PlaneeritudUritused == null || !Enumerable.Any(ViewBag.PlaneeritudUritused))
                    {
                        <span>Ei ole veel ühtegi...</span>
                    }
                    else
                    {
                        <partial name="PlaneeritudUritused.cshtml" />
                    }

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed my-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Möödunud Üritused
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                <div class="accordion-body">

                    @if (ViewBag.MoodunudUritused == null || !Enumerable.Any(ViewBag.MoodunudUritused))
                    {
                        <span>Ei ole veel ühtegi...</span>
                    }
                    else
                    {
                        <partial name="_MoodunudUritused.cshtml" />
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loaders -->
<partial name="_Loaders.cshtml" />