@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="tab-pane container fade show active tab-pane-content" id="osalejad-eraisikud">

    <partial name="_OsalejadEraisikud.cshtml" />

</div>
<div class="tab-pane container fade tab-pane-content" id="osalejad-ettevotted">

    <partial name="_OsalejadEttevotted.cshtml" />

</div>