@{
    ViewData["Title"] = "Ürituse Ülevaade";
}


<div class="bg-light uritus-info">

    <!-- Ürituse Andmed -->
    <div id="urituse-andmed">

        <partial name="UrituseAndmed.cshtml" />

    </div>

    <!-- Nav Tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link link-info active" data-bs-toggle="tab" href="#osalejad-eraisikud">Osalejad - Eraisikud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-info" data-bs-toggle="tab" href="#osalejad-ettevotted">Osalejad - Ettevõtted</a>
        </li>
    </ul>

    <!-- Tab Panes -->
    <div class="tab-content">
        <div class="tab-pane container fade show active tab-pane-content" id="osalejad-eraisikud">

            <partial name="_OsalejadEraisikud.cshtml" />

        </div>
        <div class="tab-pane container fade tab-pane-content" id="osalejad-ettevotted">

            <partial name="_OsalejadEttevotted.cshtml" />

        </div>
    </div>

</div>

<div class="text-center" style="padding:2rem 0 5rem">

    <button type="button" class="btn btn-success uritus-btn" onclick="_visit('/')">
        &lt;&lt;&lt; Tagasi
    </button>

    <button type="button" class="btn btn-warning uritus-btn" data-bs-toggle="modal" data-bs-target="#uritus-edit-modal">
        Muuda Üritus
    </button>

    <button type="button" class="btn btn-success uritus-btn" data-bs-toggle="modal" data-bs-target="#eraisik-add-modal">
        Lisa Eraisik
    </button>

    <button type="button" class="btn btn-success uritus-btn" data-bs-toggle="modal" data-bs-target="#ettevote-add-modal">
        Lisa Ettevõte
    </button>

</div>

<!-- Loaders -->
<partial name="_Loaders.cshtml" />

<!-- Modals -->
<partial name="_ModalsUritus.cshtml" />