/* latin */
@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/righteous.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/ubuntu.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-width: 980px;
  font-family: "Ubuntu";
  background: #feefdc url(/img/bg.png) center -45px no-repeat;
  overflow: hidden;
}

header {
  font-family: "Righteous";
  background: #ff617d;
}

.my-navbar-brand {
  color: #feefdc;
  font-size: 5rem;
  margin-left: 2rem;
}

.my-navbar-brand:hover {
  color: #fff;
}

.tutvustus {
  font-size: 1.15rem;
  padding: 3rem 1rem 1.9rem;
}

.my-accordion-button {
  font-size: 2rem;
  color: #fff !important;
  background: #ff617d !important;
}

.my-col {
  padding: 0.5rem;
  background-color: rgba(39,41,43,0.03);
  border: 1px solid rgba(39,41,43,0.1);
}


