<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Registreerimissüsteem</title>
	<style>
	div#main-loader {
	  top: 0;
	  left: 0;
	  height: 100vh;
	  width: 100vw;
	  position: fixed;
	  background: #feefdc;
	  z-index: 7;
	}
	</style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
	<div id="main-loader">
		<div class="main-loader"><div></div><div></div><div></div></div>
	</div>

    <header>
        <nav class="navbar border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand my-navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Registreerimissüsteem</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center text-muted">
        <div class="container">
            &copy; 2023 - Alex Gavrilov - <a class="link-info" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		$(window).on("load", function(){ StartUp(); });
	</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>